* {
    padding: 2px;
    box-sizing: border-box;

}

.titulo {
    text-align: center;
    color: violet;
    font-size: 32px;
    font-weight: bold;
    margin-top : 20px;
    
}
.titulo h1 {
  font-size: clamp(24px, 5vw, 48px);
}

.mywife h1 {
  font-size: clamp(20px, 4vw, 40px);
}
.month-year {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    min-width:1000px;
}

.month {
    background: pink;
    border-radius: 15px;
    padding: 10px;
    background: rgba(255, 192, 203, 0.85);
    backdrop-filter: blur(6px);
}

.month h1 {
    text-align: center;
    color: white;
    margin-bottom: 10px;
}

.days-week,
.days {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.days-week span,
.days span {
    width: 14.28%;
    text-align: center;
    color: white;
}



body {
  font-family: "Playfair Display", serif;
  min-height: 100vh;
  background-image: url("elagotica.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow-x:auto;
}

.enter-btn {
 
    color: white;
    font-size: 40px;
    
    text-decoration: none;

    transition: 0.3s;
}

.enter-btn:hover {
    transform: scale(1.08);
    color: red;
}


.calendarimg {
    background-image: url("variasflor.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.btn-voltar {

    color: black;
    font-size: 40px;
    text-decoration: none;
    transition: 0.3s;
    
}

.btn-voltar:hover {
    transform: scale(1.08);
    color: red;
}

.enter-btn {
    color: black;
    font-size: 40px;
    text-decoration: none;
    transition: 0.3s;
    
}

.enter-btn:hover {
    transform: scale(1.08);
    color: red;
}

.days span,
.empty {
    width: 14.28%;
    text-align: center;
    color: white;
}

.empty {
    visibility: hidden;
}

